.main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}

p {
    font-size: 2rem;
    line-height: 2;
}

.testimonies1 {
    border: 2px solid purple;  
    display: flex;
    justify-content: flex-start;
    .elder {
        width: 30%; 
    }

}

.testimonies2 {
    border: 2px solid purple;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    .silhouette {
        width: 30%;
    }
}

.testimonies3 {
    border: 2px solid purple;
    display: flex;
    .man {
        width: 30%;
    }
}